.active-tab-btn{
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #e77213;



}
.tab-btn{
    font-family: Inter;
    font-weight: 400px;
    font-style: Regular;
    font-size: 16px;
    /* line-height: 30px; */
    letter-spacing: 0px;
    color:#475569;

}
.list-item{
    padding-left:16px;
    cursor:pointer;
}
.filter-cont{
margin-top:20px;

}