.contact-cont{
    display: flex;
    gap:13px;
    margin:10px;
    width: 145px;
height: 21px;
top: 899px;
left: 647px;
opacity: 1;
justify-content: center;
align-items: center;
color: black;
justify-content: flex-end;
}
.contact-p{
    color:#3D3C3C;
    text-align: center;
    font-family:"Roboto";
    font-family: HK Grotesk;
font-weight: 600px;
font-size: 16px;

line-height: 24px;
letter-spacing: 0px;
}
.full-cont{
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    
}
@media (max-width:768px){
    .contact-cont{
        width: 111px;
        height: 16px;
        top: 551px;
        left: 125px;
        color: black;

        opacity: 1;
    }
    .contact-p{
        font-family: HK Grotesk;
        font-weight: 600px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0px;
        color:#3D3C3C;

    }
    .full-cont{
        margin-top:130px;
    }
}