/* .heading-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.logout{
    background-color: #0284C7;
    width: 73;
height: 32;
color:#ffffff;
opacity: 1;
border-radius: 4px;
gap: 8px;
margin:6px;
padding-top: 8px;
padding-right: 16px;
padding-bottom: 8px;
padding-left: 16px;

    
}
.header-div{
  display: flex;
  justify-content: space-between;
       
  top: 0;  
  width:100%;
  height: 80px;  
  background-color: white; 
  z-index: 1000;
  border: 1px solid #E4E7EB;
  
}
.link-cont{
  display:flex;
  gap:13px;
  justify-content: center;
  align-items:center;
  
}
.b-cont{
  display: flex;
  
  align-items:center;
}
.Active{
  font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 16px;
color: #0284C7;
line-height: 24px;
letter-spacing: 0%;
text-decoration: none;


}
.notIsActive{
  font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 16px;
color: #64748B;
line-height: 24px;
letter-spacing: 0%;
text-decoration: none;

}
.main-h{
  font-family: Almendra SC;
  font-weight: 400px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: #0284C7;
  margin:0px;

}
@media(max-width:768px){
  .header-div{
    width: 360px;
    height: 56px;
    opacity: 1;

  }
  .logo-img{
    width: 26.99984359741211px;
    height: 24.002347946166992px;
    top: 16px;
    left: 24px;
    opacity: 1;

  }
  .main-h{
    font-family: Almendra SC;
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #0284C7;
    margin:0px;


  }
  .link-cont{
    display: none;
  }
  .heading-cont{
    display: flex;
  /* align-items: center;      */
  /* gap: 6px;                
  padding-left: 16px;  */
  /* }


} */ 


.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(16px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.main-h {
  font-family: "Almendra SC";
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 8px;
  letter-spacing: 1px;
}

.heading-cont {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.link-cont {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Active,
.notIsActive {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffffcc;
  text-decoration: none;
  transition: 0.3s ease;
}

.Active {
  color: #ff8a00;
}

.notIsActive:hover {
  color: #e52e71;
}

.logout {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  border: none;
  color: white;
  padding: 8px 18px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout:hover {
  transform: scale(1.05);
}
